VITE_FIREBASE_API_KEY='AIzaSyDrcmR1591YxpDyCMnj7t-74sN6vp7CFN8'
VITE_FIREBASE_AUTH_DOMAIN='nexoprintlab-acadb.firebaseapp.com'
VITE_FIREBASE_PROJECT_ID='nexoprintlab-acadb'
VITE_FIREBASE_STORAGE_BUCKET='nexoprintlab-acadb.firebasestorage.app'
VITE_FIREBASE_MESSAGING_SENDER_ID='693824111590'
VITE_FIREBASE_APP_ID='1:693824111590:web:46e4929abe60838adc0c27'
